html, body, section, div {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

div {
    height: 100px;
    width: 100px;
    border: 10px solid ;
    border-radius: 0px;
    display: inline;
    margin: 0 auto;
}

#one {
    background-color: #FF0000;
    display: inline-block;
}